.Maindash{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:90vh;
    overflow-y: scroll;
    margin:.5rem
}
.Maindash::-webkit-scrollbar {
    display: none;                     
}
.detail{
    display: grid;
    gap:1rem;
    grid-template-columns: 13rem 13rem 13rem;
    margin-bottom: 1rem;
    
}
.bigcardgrid{
    display: grid;
    grid-template-columns: 17rem 17rem;
    gap: 1rem;
}
@media (max-width:390px){
    .bigcardgrid,.detail{
        display: flex;
        flex-direction: column;

    }
    .Maindash{
        height: fit-content;
    }
    
  }