
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: 'Inter', sans-serif;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.App-container{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 20% 80% ;
overflow: hidden;
}
.contain{
  display: grid;
  grid-template-columns: 65% 35%;
  overflow-y: scroll;

}

.Main-content {
  flex-grow: 1;
  flex-direction: column;
  transition: margin-left 0.3s ease; 
}
.maint{
  width: 98vw;

}
.rdcomp{
  margin-bottom: 0.5rem;
  height: 90vh;
  overflow-y: scroll;
  


}
@media (max-width:390px){
  .contain{
    display: flex;
    flex-direction: column;
   
  }
  .App{
    height: fit-content;
    
  }
  .rdcomp{
    height: fit-content;
  }
}
.rdcomp::-webkit-scrollbar{
  display: none;
}
